<div class="contents row">
  <div class="container">
  <div class="title">アンケートに回答してみましょう！</div>

<div class="anserplease">
  <%= @ank.question %><br />


<%= form_with(model: @answer, local: true) do |form| %>
  <label>
    <%= @ank.answer1 %>
    <%= form.radio_button :answer2_1, 1 %><br />
  </label>

  <label>
    <%= @ank.answer2 %>
    <%= form.radio_button :answer2_2, 1 %><br />
  </label>

  <label>
    <%= @ank.answer3 %>
    <%= form.radio_button :answer2_3, 1 %><br />
  </label>

<input type="button" value="チェックを外す" onclick="window.location.reload();" />
  <input type="submit" value="送信する">

<% end %>
</div>

  </div>
</div>