<div class="contents row">
  <div class="title">
    <h3>結果発表！</h3>

  <div class="answerkekka">
  　Q.<%= @ank.question %><br />
    <%= @ank.answer1 %>:<%= @answer2_1 %>票<br />
    <%= @ank.answer2 %>:<%= @answer2_2 %>票<br />
    <%= @ank.answer3 %>:<%= @answer2_3 %>票<br />
  </div>

    <a class="btnback" href="/">投稿一覧へ戻る</a>
  </div>
</div>