  <div class="title">簡単アンケート</div>
  <div class="post" ><%= link_to 'アンケートを作る', new_ank_path, class: "make-up" %></div>

  <div class="mess">
	  <div class="message">難しいことは必要なし！<br />さぁ作って、答えましょう！</div>
  </div>

<div class="contenstsone">
  <div class="contentsrow">
    <% @anks.each do |ank| %>
      <div class="content_post" style="background-image: url(<%= ank.image %>);">
        <p>Q<%= ank.id%>. <%= ank.question%>
          <%= link_to '削除', ank_path(ank.id), method: :delete %>
       </p>      
      </div>
    <% end %>
  </div>
</div>